@import './variables';
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-family:$font-suit;}
body{position:relative;background:#fff;color:$point-color-dark;-webkit-text-size-adjust:none}
img,fieldset{border:0}
ul,ol{list-style:none}
a{color:#000;text-decoration:none}
table{border-collapse:collapse}
button {cursor:pointer; outline:0; border:0;}

html, body {height:100%;}
.wrap {
  overflow:hidden;
  position:relative;
  min-height:100%;
  &:before{ 
    position:absolute; 
    top:50%;
    left:50%;
    width:50%;
    height:250%;
    background: $point-color1;
    transform: translate(-150%, -50%) rotate(45deg);
    content:"";
  }
}
.cm {
  &-list {
    & > li {
      position:relative;
      padding-left:10px;
      &:before{
        position:absolute;
        left:0;
        background: $sub-color;
        content:"";
      }
      .none, .base, &:not([class]){
        padding-left:0;
        &:before {
          display:none;
        }
      }
    }
    .square {
      &::before{
        top:rem(10px);
        width:3px;
        height:3px;
      }
    }
    .circle {
      &::before{
        top:rem(10px);
        width:3px;
        height:3px;
        border-radius:50%;
      }
    }
    .star {
      &::before{
        top:rem(5px);
        background:none;
        font-size:rem(12px);
        content:"*";
      }
    }
    .reference {
      padding-left:12px;
      &::before{
        top:rem(5px);
        background:none;
        font-size:rem(12px);
        content:"※";
      }
    }
  }
}
.gnb {
  display: flex;
  position: fixed;
  z-index:99;
  top:0;
  left:0;
  width:100%;
  background:#f4f4f4;
  box-shadow: 1px 1px 5px rgb(0,0,0,.2);
  &__inner {
    display:flex;
    flex-direction: column;
    justify-content: center;
    max-width:1280px;
  }
  &-btn { 
    position: absolute;
    top:50%;
    right:20px;
    transform: translateY(-50%);
    .btn {
      display:inline-block;
      width:30px;
      height:30px;
      border:1px solid red;
    }
  }
}
.cont {
  display:flex;
  flex-direction: column;
  justify-content: center;
  position:relative;
  width:100%;
  padding:100px 30px;
  box-sizing:border-box;
  &__inner {
    max-width:1280px;
    min-height:100px;
    margin:0 auto;
  }
}

.ico {
  .txt{ 
    position:relative;
    text-indent: -9999px;
  }
}
$cm-name: 'category';
.#{$cm-name} {
  &__select {
    display: flex;
    flex-direction: row-reverse;
    .btn-article {
      margin-left:10px;
      &:first-child {
        margin-left:0;
      }
    }
    .btn {
      display:inline-block;
      position:relative;
      width:30px;
      height:30px;
      border: 1px solid $back-color;
      border-radius:5px;
      background: #fff;
      transition: $base-transition;
      .txt {
        display:inline-block;
        width:100%;
        height:100%;
        &::before, &::after {
          display:block;
          position:absolute;
          background: $back-color;
          transition: $base-transition;
          content:"";
        }
      }
      &::before, &::after {
        display:block;
        position:absolute;
        background: $back-color;
        transition: $base-transition;
        content:"";
      }

      &:hover, &:focus {
        background: $point-color1;
        border-color: $point-color1;
        &::before, &::after{ 
          background: #fff;
        }
        .txt {
          &::before, &::after{ 
            background: #fff;
          }
        }
      }
    }
    .column-list {
      order:2;
      .btn {
        &::before {
          top:50%;
          left:3px;
          width:3px;
          height:70%;
          border-radius:5px;
          background: $point-color1;
          transform: translateY(-50%);
        }
        &::after { 
          top:5px;
          left:8px;
          width:60%;
          height:3px;
          border-radius:5px;
        }
        &:hover, &:focus {
          &:before {
            background:#fff;
          }
        }
      }
      .txt {
        &::before {
          top:50%;
          left:8px;
          width:60%;
          height:3px;
          border-radius:5px;
          transform: translateY(-50%);
        }

        &::after { 
          bottom:5px;
          left:8px;
          width:60%;
          height:3px;
          border-radius:5px;
        }
      }
    }
    .look-ahead {
      order:1;
      .btn {
        &::before{
          bottom:3px;
          left:3px;
          width:9px;
          height:9px;
          border-radius:3px;
        }
        &::after {
          bottom:3px;
          right:3px;
          width:9px;
          height:9px;
          border-radius:3px;
        }
      }
      .txt{
        &::before{
          top:3px;
          left:3px;
          width:9px;
          height:9px;
          border-radius:3px;
        }
        &::after {
          top:3px;
          left:auto;
          right:3px;
          width:9px;
          height:9px;
          border-radius:3px;
        }
      }
    }
  }
  &__list {
    margin: 20px 0 0;
    &-inner {
      display: flex;
    }
    &-item {
      position:relative;
      width: calc((100% - 80px)/4);
      margin-left:20px;
      &:first-child {
        margin-left:0;
      }
    }
    &-box {
      display:inline-block;
      position: relative;
      width:100%;
      height:rem(220px);
      padding:20px 20px 65px;
      border-radius: 20px;
      background:#fff;
      box-shadow: 1px 5px 10px rgba(0,0,0,.2);  
      box-sizing: border-box;
    }
    .ico {
      display:inline-block;
      padding:3px 5px;
      border-radius:3px;
      font-weight:550;
      text-shadow:0px 1px 2px rgba(0,0,0,1);
      color:#fff;
      &-html{
        background:#e9622a;
      }
      &-css{
        background:#30ace0;
      }
      &-js{
        background:#f8e01f;
      }
      &-guide {
        background: $point-color1;
      }
    }
    &-tit {
      .tit {
        display:block;
        margin-top:rem(10px);
        font-size: rem(22px);
        font-weight:550;
        line-height: rem(26px);
        @include ellipsis(1);
      }
    }
    &-txt {
      margin-top:rem(5px);
      font-size: rem(18px);
      line-height: rem(22px);
      @include ellipsis(2, rem(22px));
    }
    &-page {
      position: absolute;
      left:20px;
      bottom:40px;
      font-size: rem(14px);
      line-height: rem(18px);
      @include ellipsis(1);
    }
    &-update{
      position: absolute;
      width:100%;
      left:0px;
      bottom:20px;
      padding: 0 20px;
      font-size: rem(12px);
      line-height: rem(16px);
      @include ellipsis(1);
      box-sizing: border-box;
      .date {
        color:$sub-color;
      }
    }
  }
  &__info {
    display: flex;
    width:100%;
    margin-top:20px;
  }
  &__history{
    width:40%;
    min-height:200px;
    padding: 20px;
    border-radius: 20px;
    background:#fff;
    box-shadow: 1px 5px 10px rgba(0,0,0,.2);  
    &-item {
      margin-top:8px;
      &:first-child {
        margin-top:0;
      }      
    }
  }
  &__view {
    width: calc(60% - 30px);
    min-height:200px;
    padding:20px;
    border-radius: 20px;
    margin-left:30px;
    background:#fff;
    box-shadow: 1px 5px 10px rgba(0,0,0,.2);  
    box-sizing:border-box;
    &-cont {
      display:flex;
      flex-direction:column;
      position:relative;
      width:100%;
      height:100%;
    }
    &-info{
      flex-grow: 1;
      .preview {
        &-run{
          display:flex;
          .type{
            width:50%;
          }
        }
        &-tit{
          font-size: rem(18px);
          font-weight:550;
        }
        .btn-article{ 
          margin-top:10px;
          &>button {
            display:inline-block;
            padding:3px 5px;
          }
          &>a {
            display:inline-block;
            padding:3px;
            border:1px solid $sub-color;
          }
          .btn{
            font-size: rem(14px);
            transition: $base-transition;
            box-sizing:border-box;
            &:hover, &:focus {
              border-color: $point-color1;
              background:$point-color1;
              color:#fff;
            }
          }
        }
      }
    }
    .share {
      &-list {
        display:flex;
      }
      &-item{
        margin-left:5px;
        &:first-child {
          margin-left:0;
        }
      }
      .ico {
        display:block;
        position:relative;
        width:30px;
        height:30px;
        border-radius: 50%;
        transition: $base-transition;
        &:hover, &:focus {
          &.github, &.codepen {
            background:$point-color1;
          }
        }
        &.github {
          background:#000;
        }
        &.codepen{
          background:#000;
        }
        svg {
          display:inline-block;
          position:absolute;
          top:50%;
          left:50%;
          fill:#fff;
          width:20px;
          height:20px;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  

}


